* {
    box-sizing: border-box;
}
body {
    font-family: monospace;
    margin: 0;

    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../img/bgImage.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.title{
    font-size: 5rem;
    color: #fff;
    text-shadow: 5px 5px 0px #8b4a9b;

    top: 60px;
    position: relative;
    text-align: center;

    cursor: default;
    font-family: "Times New Roman", Times, serif;
}
.form-box-login{
    width: 380px;
    height: 400px;
    position: relative;

    top: 80px;
    margin: auto;

    background: #fff;
    padding: 2px;
    box-shadow: 10px 15px #8b4a9b;
}
.form-box-register{
    width: 380px;
    height: 480px;
    position: relative;

    top: 80px;
    margin: auto;

    background: #fff;
    padding: 2px;
    overflow: hidden;
    box-shadow: 10px 15px #8b4a9b;
}
.textInput {
    width: 250px;
    height: 40px;
    display: block;
    margin: auto;
    border-color: black;
    background-color: white;
    border-width: 0.125rem;
    border-radius: 0rem;
    box-shadow: rgba(0, 0, 0, 0.1) 4px 4px;
    font-size: 1rem;
    font-weight: 700;
    font-family: monospace;
    letter-spacing: 1px;
    text-shadow: rgba(0, 0, 0, 0.1) 2px 2px;
    cursor: text;
    outline: none;
    margin-top: 3rem;
}
.submit{
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: monospace;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    transition: all .35s;
    border-color: black;

    background-color: white;
    border-width: 0.125rem;
    border-radius: 0rem;
    box-shadow: inset 0 0 0 0, rgba(0, 0, 0, 0.1) 4px 4px;
    font-size: 1rem;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 0.1) 2px 2px;
    cursor: pointer;
    outline: none;

    display: block;
    text-align: center;
    position: relative;
    margin: auto;
    margin-top: 2rem;

    transition: ease-out 0.3s;
}
.submit:hover{
    box-shadow: inset 200px 0 0 0 #37fecd, rgba(0, 0, 0, 0.1) 4px 4px;
    color: #000000;
}
.register-link{
    width: 100%;
    font-size: 1rem;
    color: #333;
    text-shadow: rgba(0, 0, 0, 0.1) 2px 2px;

    top: 6rem;
    position: relative;
    text-align: center;
    cursor: default;
    font-weight: 600;
}